.tarjetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarjetas-compras{
    margin: 20px;
background-color: $color-principal;
height: 300px;
width: 50%;
text-align: center;
}


.img-index{
    height: 50%;
    width: 90%;
 
}
.btn{
    font-size: 1.4rem;
   margin-top: 20px;
   background-color: $color-terciario;
    border: solid;

}
.btn:hover{
    background-color: $color-principal;
   
}
@media(min-width:768px){
.text-tarjetas{
font-size: 1.7rem;


}
}


